Repository remkop/picocli, pull requests merged in 2020-05, with the labels that each got.

#1031 add description about text blocks (#1028)
  docs/index.adoc
  docs/index.html
Labels: doc, enhancement, usagehelp

#1033 Add tests for methods modified in #997
  src/test/java/picocli/HelpTest.java
Labels: enhancement, usagehelp

#1037 DOC: fix typo
  docs/picocli-programmatic-api.adoc
Labels: doc

#1041 Fix broken links in javaDoc
  src/main/java/picocli/CommandLine.java
Labels: doc

#1060 Man page generator: add documentation about creating language variants
  picocli-codegen/src/main/java/picocli/codegen/docgen/manpage/ManPageGenerator.java
Labels: doc
