Repository remkop/picocli, pull requests merged in 2020-12, with the labels that each got.

#1270 Fix issue #1103 in Issue1225UnmatchedArgBadIndex
  src/test/java/picocli/Issue1225UnmatchedArgBadIndex.java
Labels: enhancement

#1276 DOC: add section for really executable JARs
  docs/index.adoc
Labels: doc, enhancement

#1265 Allow users of picocli-shell-jline3 to use `clear` command and a nicer `help` command
  picocli-shell-jline3/src/main/java/picocli/shell/jline3/PicocliCommands.java
  picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java
Labels: API, enhancement, integration, shell

#1284 Support echo and prompt for an interactive option
  picocli-examples/src/main/java/picocli/examples/interactive/UserPasswordDemo.java
  src/main/java/picocli/CommandLine.java
  src/test/java/picocli/InteractiveArgTest.java
Labels: enhancement

#1286 documentation fix: @ParentObject -> @ParentCommand
  docs/index.adoc
  docs/index.html
Labels: bug, doc

#1289 Bump Spring boot dependency to latest version
  gradle.properties
Labels: dependency
