Repository remkop/picocli, pull requests merged in 2020-10, with the labels that each got.

#1198 Documentation: add copy button to code blocks
  docs/A-Whirlwind-Tour-of-Picocli-docinfo.html
  docs/A-Whirlwind-Tour-of-Picocli.adoc
  docs/autocomplete-docinfo.html
  docs/autocomplete.adoc
  docs/docinfo.html
  docs/index-docinfo.html
  docs/index.adoc
  docs/quick-guide-docinfo.html
  docs/quick-guide.adoc
Labels: doc, enhancement

#1205 Manual: add checksum sample app coded in Groovy and Scala
  docs/index.adoc
Labels: doc, enhancement

#1208 Fix: Show copy buttons in code blocks (#1198)
  build.gradle
Labels: doc, enhancement

#1209 Add Maven coordinates to JLine2/3 modules
  picocli-shell-jline2/README.md
  picocli-shell-jline3/README.md
Labels: doc, enhancement

#1210 Manual: add Kotlin version to subcommands example app
  docs/index.adoc
Labels: doc, enhancement

#1211 Manual, section subcommands: add several tabs with Kotlin source code
  docs/index.adoc
Labels: doc, enhancement

#1219 Manual: adding more tabs with Kotlin code
  docs/index.adoc
Labels: doc, enhancement

#1220 Mixee sample: corrections, add Kotlin tab
  docs/index.adoc
Labels: doc, enhancement

#1221 Manual: add tabs with Kotlin code for samples (chapter 14: Usage help)
  docs/index.adoc
Labels: doc, enhancement

#1222 Manual: add tabs with Kotlin code for samples (chapter 7 + 12)
  docs/index.adoc
Labels: doc, enhancement

#1223 DOC: add tabs with Kotlin code for samples (manual chapter 10: Validation)
  docs/index.adoc
Labels: doc, enhancement

#1224 Manual: add tabs with Kotlin code for samples (chapter 5: Default Values)
  docs/index.adoc
Labels: doc, enhancement

#1226 Manual: add tabs with Kotlin code for samples (chapter 9.6 - 9.8: Executing commands)
  docs/index.adoc
Labels: doc, enhancement

#1228 Manual: add tabs with Kotlin code for samples (chapters 8, 16, 20)
  docs/index.adoc
Labels: doc, enhancement

#1229 Fix compilation error introduced with fc5ef6de6 (#1184)
  src/main/java/picocli/CommandLine.java
Labels: bug

#1230 Manual: add tabs with Kotlin code for samples (Chapters 6, 11, 15, 19)
  docs/index.adoc
Labels: doc, enhancement

#1232 Micronaut example: add Kotlin version, extended description of Micronaut use
  docs/index.adoc
Labels: doc, enhancement

#1233 Manual: add tabs with Kotlin code for samples (Chapter 21: Tips & Tricks)
  docs/index.adoc
Labels: doc, enhancement

#1236 Update patterns that our compiler will complain about.
  src/main/java/picocli/CommandLine.java
Labels: bug, enhancement

#1240 Gradle: fix deprecation warnings
  build.gradle
  picocli-annotation-processing-tests/build.gradle
  picocli-codegen/build.gradle
  picocli-groovy/build.gradle
  picocli-shell-jline2/build.gradle
  picocli-shell-jline3/build.gradle
  picocli-spring-boot-starter/build.gradle
Labels: enhancement
