Repository remkop/picocli, pull requests merged in 2020-11, with the labels that each got.

#1247 Manual: extended Spring Boot example
  docs/index.adoc
Labels: doc, enhancement

#1248 Fix gradle warnings
  build.gradle
  picocli-annotation-processing-tests/build.gradle
  picocli-codegen/build.gradle
  picocli-examples/build.gradle
  picocli-groovy/build.gradle
  picocli-shell-jline2/build.gradle
  picocli-shell-jline3/build.gradle
  picocli-spring-boot-starter/build.gradle
Labels: enhancement

#1249 Add Mocking section to index.adoc
  docs/index.adoc
Labels: doc, enhancement

#1251 Add showcase example for issue #1250
  src/test/java/picocli/SubcommandTests.java
Labels: bug

#1263 Manual: present build scripts in tabs
  docs/index-docinfo-footer.html
  docs/index.adoc
  docs/quick-guide.adoc
  gradle.properties
Labels: doc, enhancement

#1264 Fix broken links to GraalVm native image build configuration
  RELEASE-NOTES.md
  docs/build-great-native-cli-apps-in-java-with-graalvm-and-picocli.adoc
  docs/index.adoc
  picocli-codegen/README.adoc
  picocli-codegen/src/main/java/picocli/codegen/aot/graalvm/DynamicProxyConfigGenerator.java
  picocli-codegen/src/main/java/picocli/codegen/aot/graalvm/ReflectionConfigGenerator.java
  picocli-codegen/src/main/java/picocli/codegen/aot/graalvm/ResourceConfigGenerator.java
Labels: doc, enhancement
