Repository remkop/picocli, pull requests merged in 2020-01, with the labels that each got.

#911 Fix syntax error in javadoc
  src/main/java/picocli/CommandLine.java
Labels: doc

#914 Picocli examples: adding minimal i18n demo application (Java + Kotlin)
  docs/index.adoc
  picocli-examples/src/main/java/picocli/examples/i18n/I18NDemo.java
  picocli-examples/src/main/java/picocli/examples/i18n/Messages.properties
  picocli-examples/src/main/java/picocli/examples/i18n/Messages_de.properties
  picocli-examples/src/main/kotlin/picocli/examples/kotlin/i18n/I18NDemo.kt
  picocli-examples/src/main/kotlin/picocli/examples/kotlin/i18n/Messages.properties
  picocli-examples/src/main/kotlin/picocli/examples/kotlin/i18n/Messages_de.properties
Labels: doc, enhancement

#671 Fix shellcheck warning in autocompletion script
  src/main/java/picocli/AutoComplete.java
  src/test/java/picocli/AutoCompleteTest.java
  src/test/resources/bashify_completion.bash
  src/test/resources/basic.bash
  src/test/resources/hyphenated_completion.bash
  src/test/resources/picocompletion-demo_completion.bash
Labels: auto-completion, enhancement

#918 Adding more Scala examples
  picocli-examples/src/main/scala/picocli/examples/scala/subcommands/SubCmdsViaClasses/SubCmd1.scala
  picocli-examples/src/main/scala/picocli/examples/scala/subcommands/SubCmdsViaClasses/SubCmd2.scala
  picocli-examples/src/main/scala/picocli/examples/scala/subcommands/SubCmdsViaClasses/TopCmd.scala
Labels: doc, enhancement

#919 Added example Gradle project with Kotlin and Graal Native Image
  picocli-examples/annotation-processing/example-gradle-project-kotlin-graal-nativeimage/.gitignore
  picocli-examples/annotation-processing/example-gradle-project-kotlin-graal-nativeimage/README.md
  picocli-examples/annotation-processing/example-gradle-project-kotlin-graal-nativeimage/build.gradle
  picocli-examples/annotation-processing/example-gradle-project-kotlin-graal-nativeimage/settings.gradle
  picocli-examples/annotation-processing/example-gradle-project-kotlin-graal-nativeimage/src/main/kotlin/picocli/examples/kotlin/Checksum.kt
Labels: annotation-proc, codegen, doc

#927 latest snapshot version for spring dependencies
  docs/index.adoc
Labels: doc
