Repository remkop/picocli, pull requests merged in 2020-09, with the labels that each got.

#1167 Quick guide: fix broken links
  docs/quick-guide.adoc
Labels: doc

#1169 Close org.jline.terminal.Terminal (fixes #1168)
  picocli-shell-jline3/README.md
  picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java
Labels: doc

#1170 Ensure ANSI is disabled in ManPageGeneratorTest regardless of environ…
  picocli-codegen/src/test/java/picocli/codegen/docgen/manpage/ManPageGeneratorTest.java
Labels: enhancement

#1173 Different sample applications for manual and quick guide (#1171)
  docs/index.adoc
  docs/quick-guide.adoc
  picocli-examples/src/main/java/picocli/examples/i18n/I18NDemo.java
Labels: doc, enhancement

#1179 Use .invalid domain name for InetAddress test
  src/test/java/picocli/TypeConversionTest.java
Labels: enhancement

#1178 Run Travis build on macOS
  .travis.yml
Labels: enhancement, integration

#1176 ISSUE1175 : Update JLine to 3.16.0
  gradle.properties
  picocli-shell-jline3/build.gradle
  picocli-shell-jline3/src/main/java/picocli/shell/jline3/PicocliCommands.java
  picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java
Labels: enhancement

#1187 Extend and improve documentation on subcommands (#890)
  docs/index.adoc
  docs/quick-guide.adoc
Labels: doc, enhancement

#1190 Improve InetSocketAddressConverter demo
  docs/index.adoc
  docs/quick-guide.adoc
  picocli-examples/src/main/java/picocli/examples/typeconverter/InetSocketAddressConverterDemo.java
Labels: doc, enhancement

#1192 Fix broken links in documentation
  build.gradle
  docs/index.adoc
  docs/quick-guide.adoc
Labels: doc, enhancement
