Repository remkop/picocli, pull requests merged in 2021-11, with the labels that each got.

#1449 Fix typo
  picocli-shell-jline2/README.md
Labels: doc

#1475 Typo in annotation target-type error message
  picocli-codegen/src/main/java/picocli/codegen/annotation/processing/AbstractCommandSpecProcessor.java
Labels: enhancement, annotation-proc

#1467 [#1466] Fix autocomplete for aliased subcommands
  src/main/java/picocli/AutoComplete.java
  src/test/java/picocli/AutoCompleteTest.java
  src/test/resources/picocompletion-demo-help_completion.bash
  src/test/resources/picocompletion-demo_completion.bash
Labels: bug, auto-completion, in-progress

#1473 Fix incorrect autocomplete if file name contains space
  src/main/java/picocli/AutoComplete.java
  src/test/java/picocli/AutoCompleteTest.java
  src/test/resources/picocompletion-demo-help_completion.bash
  src/test/resources/picocompletion-demo_completion.bash
Labels: enhancement, auto-completion

#1477 Remove execution and extension characters in the generated autocomplete script
  src/main/java/picocli/AutoComplete.java
  src/test/java/picocli/AutoCompleteTest.java
Labels: enhancement, auto-completion

#1481 Removed repeated "whether" typo in JavaDoc
  docs/apidocs/index-all.html
  docs/apidocs/picocli/CommandLine.Model.CommandSpec.html
  docs/apidocs/picocli/CommandLine.html
  src/main/java/picocli/CommandLine.java
Labels: doc

#1483 Improved AbstractCommandSpecProcessor#isSubcommand(ExecutableElement, RoundEnvironment)
  picocli-codegen/src/main/java/picocli/codegen/annotation/processing/AbstractCommandSpecProcessor.java
Labels: enhancement, annotation-proc
