Repository remkop/picocli, pull requests merged in 2021-01, with the labels that each got.

#1292 [#1291] build.gradle for 'picocli-shell-jline3' submodule is changed: Gradle configuration is switched (from 'implementation' to 'api') for 'org.jline:jline' dependency
  picocli-shell-jline3/build.gradle
Labels: bug, dependency

#1299 Extend javadoc of IParameterConsumer interface
  src/main/java/picocli/CommandLine.java
Labels: doc

#1304 Manual, chapter '17.9 Inherited Command Attributes': added Kotlin version of code sample
  docs/index.adoc
Labels: doc

#1307 CAUTION admonitions, Kotlin code sample
  docs/index.adoc
Labels: doc, enhancement

#1314 Fix use of deprecated Maven properties
  picocli-codegen/README.adoc
Labels: doc
