Repository remkop/picocli, pull requests merged in 2022-06, with the labels that each got.

#1697 [https://github.com/remkop/picocli/issues/1696] Fix asciidoc output for nested ArgGroups
  picocli-codegen/src/main/java/picocli/codegen/docgen/manpage/ManPageGenerator.java
Labels: type: bug :bug:, theme: codegen

#1714 [Issue 1713] Support optional booleans in annotation processor
  picocli-annotation-processing-tests/src/test/java/picocli/annotation/processing/tests/Issue1713Test.java
  picocli-annotation-processing-tests/src/test/resources/picocli/issue1713/Command.java
  picocli-codegen/src/main/java/picocli/codegen/annotation/processing/CompileTimeTypeInfo.java
Labels: type: enhancement :sparkles:, theme: annotation-proc

#1723 [Issue: #1708] Including log info for invalid values scenario
  src/main/java/picocli/CommandLine.java
  src/test/java/picocli/HelpTest.java
Labels: type: enhancement :sparkles:, theme: usagehelp

#1710 [https://github.com/remkop/picocli/issues/1706] Resolve messages against parent resource bundles with updated i18n unit tests
  src/main/java/picocli/CommandLine.java
  src/test/java/picocli/I18nCommand.java
  src/test/java/picocli/I18nSubcommand2.java
  src/test/java/picocli/I18nTest.java
  src/test/resources/picocli/ResourceBundlePropagationTest.properties
  src/test/resources/picocli/SharedMessages.properties
  src/test/resources/picocli/SharedMessages_ja.properties
Labels: type: enhancement :sparkles:, theme: usagehelp
