Repository remkop/picocli, pull requests merged in 2025-05, with the labels that each got.

#2414 docs: Use TAILTIP_TOGGLE instead of "tailtip-toggle" on README of picocli-shell-jline3
  picocli-shell-jline3/README.md
  picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java
Labels: type: doc :blue_book:

#2424 [#1965] CRLF replaced by LF by git
  docs/A-Whirlwind-Tour-of-Picocli.html
  docs/announcing-picocli-1.0.html
  docs/autocomplete.html
  docs/build-great-native-cli-apps-in-java-with-graalvm-and-picocli.html
  docs/feedback.html
  docs/groovy-2.5-clibuilder-renewal-part1.html
  docs/groovy-2.5-clibuilder-renewal-part2.html
  docs/groovy-2.5-clibuilder-renewal.html
  docs/index.html
  docs/migrating-from-commons-cli.html
Labels: type: enhancement :sparkles:, type: doc :blue_book:

#2419 Depend on individual JLine3 modules, not the bundle
  dependencies.gradle
  picocli-shell-jline3/README.md
  picocli-shell-jline3/build.gradle
  picocli-shell-jline3/src/main/java9/module-info.java
Labels: type: enhancement :sparkles:, theme: shell, theme: module
